.login {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 28%);
  form {
    padding: 15px;
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }
    label {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 3px 2px;
    }
    input {
      width: 100%;
      display: block;
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 10px 32px 10px 18px;
      background-color: rgb(238, 237, 237);
      transition: 0.4s all ease;
      &:hover {
        background-color: rgb(222, 222, 222);
      }
    }
    .input-user {
      margin-bottom: 8px;
    }
    .input-password {
      position: relative;
      margin-bottom: 18px;
      i {
        position: absolute;
        right: 10px;
        top: 14px;
        cursor: pointer;
      }
    }
    button {
      width: 100%;
      border: none;
      border-radius: 4px;
      padding: 8px 0;
      font-weight: bold;
      transition: all 0.4s ease;
      &.active {
        color: #fff;
        background-color: rgb(255, 59, 92);
        &:hover {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.06),
              rgba(0, 0, 0, 0.06)
            ),
            rgb(254, 44, 85);
        }
      }
    }
    button[disabled="disabled"],
    button:disabled {
      cursor: not-allowed;
      background-color: rgb(232, 232, 232);
    }
  }
  .go-back {
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
    span {
      cursor: pointer;

      i {
        font-size: 12px;
        margin-right: 2px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
